name: "Twig"

on: # yamllint disable-line rule:truthy
    pull_request:
        paths:
            - "**.twig"
            - ".github/workflows/ci-twig.yaml"
    push:
        branches:
            - "develop"
            - "master"
        paths:
            - "**.twig"
            - ".github/workflows/ci-twig.yaml"

env:
    REQUIRED_PHP_EXTENSIONS: "ctype, filter, hash, iconv, json, pdo_pgsql"

jobs:
    lint:
        name: "Lint"

        runs-on: "ubuntu-latest"

        strategy:
            matrix:
                php-version:
                    - "8.0"

        steps:
            -
                name: "Checkout"
                uses: "actions/checkout@v2.4.0"

            -
                name: "Install PHP with extensions"
                uses: "shivammathur/setup-php@2.15.0"
                with:
                    coverage: "none"
                    extensions: "${{ env.REQUIRED_PHP_EXTENSIONS }}"
                    php-version: "${{ matrix.php-version }}"
                    tools: "composer:v2"

            -
                name: "Install dependencies with composer"
                uses: "ramsey/composer-install@2.1.0"
                with:
                    composer-options: "--no-scripts"

            -
                name: "Lint Twig files"
                run: "bin/console lint:twig src/Resources/views"
